@import '../../../assets/styles/variables.scss';

.nav {
    display: flex;
    width: 100%;
    height: 80px;

    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 74px;
    height: 74px;
}

.header {
    width: 100%;
    top: 24px;
    left: 0;
    position: absolute;
    z-index: 1000;
}

.activeHeader {
    position: fixed;
    top: 0;
    background: $color_champane;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    animation: header 0.8s;
}

.active {
    color: $color_orange;
}

.light {
    background: none;
    color: black;
    border: 2px solid $color_black;
    transition: 0.3s;
}

.dark {
    background: black;
    color: white;
    transition: 0.3s;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
}

.btn {
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 20px;

    @extend %transition;
}

.burger_icon {
    display: none;

    & button {
        background: none;
        outline: none;
        border: none;
        cursor: pointer;

        &:hover svg {
            color: $color_orange;
        }

        & svg {
            transition: 0.3s;
            width: 45px;
            height: 45px;
            color: #000;
        }
    }
}

@keyframes header {
    0% {
        transform: translateY(-74px);
    }
    100% {
        transform: translateY(0px);
    }
}

@media screen and (max-width: 992px) {
    .btn {
        font-size: 12px;
    }
}

@media screen and (max-width: 850px) {
    .item:nth-child(3) {
        display: none;
    }

    .burger_icon {
        display: block;
    }
}

@media screen and (max-width: 550px) {
    .item:nth-child(2) {
        display: none;
    }
}

@media screen and (max-width: 350px) {
    .logo {
        width: 50px;
        width: 50px;
    }

    .burger_icon {
        & button {
            & svg {
                width: 35px;
                height: 35px;
            }
        }
    }

    .nav {
        height: 60px;
    }
}
