@import '../../../assets/styles/variables.scss';

.head_link {
    margin-right: 0;
    @extend %size_body;
    display: inline;
    font-weight: 700;
    text-decoration: none;
    color: $color_black;
    position: relative;
    transition: 0.3s;

    & img {
        transition: 0.3s;
        position: absolute;
        right: -20px;
        top: 2px;
    }

    &:hover {
        color: $color_orange;
        cursor: pointer;
    }
}

.dropdown {
    display: inline;
    position: relative;

    &:hover .drop_menu {
        display: block;
        opacity: 1;
    }

    &:hover .head_link {
        color: $color_orange;
        cursor: pointer;
    }

    &:hover .head_link > img {
        transform: rotate(180deg);
    }
}

.drop_menu {
    transition: 0.3s;
    display: none;
    position: absolute;
    top: 20px;
    right: -20px;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    transition: 0.3s;
    opacity: 0;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5);
    border: 2px solid $color_grey;

    & a {
        display: inline-block;
        font-weight: 700;
        text-decoration: none;

        @extend %size_body;
        position: relative;
        margin-bottom: 10px;
    }

    & a:last-child {
        margin-bottom: 0;
    }

    & a::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;

        width: 0px;
        height: 3px;
        background: $color_orange;
        border-radius: 5px;
        transition: 0.3s;
    }

    & a:hover::after {
        width: 100%;
    }

    & a:hover {
        color: $color_orange;
    }
}
