.scribe {
    position: absolute;
    top: -76px;
    left: 50%;
    z-index: 500;
    transform: translateX(-50%);

    animation: scribe 3s infinite;
}

@keyframes scribe {
    0% {
        transform: translateX(-50%) translateY(-30px);
    }
    50% {
        transform: translateX(-50%) translateY(30px);
    }
    100% {
        transform: translateX(-50%) translateY(-30px);
    }
}
