.blog {
    width: 100%;
    position: relative;
    padding: 140px 0;
    overflow: hidden;
}

.inner {
    position: relative;
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
}

.vector {
    position: absolute;
    top: -80px;
    left: -80px;
}

.scribble {
    position: absolute;
    bottom: -180px;
    right: -130px;
    transform: rotate(135deg);
    width: 240px;
    height: 240px;
}
