@import '../../../assets/styles/variables.scss';

.item {
    border-radius: 12px;
    margin-right: 20px;
    position: relative;
    width: 373px;
    height: 373px;
    transition: 0.3s;

    & h4 {
        position: absolute;
        bottom: 20px;
        left: 20px;
    }

    // &:hover {
    //     transform: translate(-12px, -12px);
    //     box-shadow: 12px 12px 0px 0px $color_blue;
    // }
}

.background {
    border-radius: 12px;
}

.icons {
    position: absolute;
    top: 20px;
    right: 20px;
}

.title {
    color: $color_blue;
    font-size: 36.65px;
    letter-spacing: -2.932px;
    line-height: 120%;
    font-weight: 700;
}

@media screen and (max-width: 992px) {
    .item {
        margin-bottom: 20px;
    }

    .item:nth-child(even) {
        margin-right: 0;
    }

    .item:nth-child(5),
    .item:nth-child(6) {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 850px) {
    .background,
    .item {
        width: 323px;
        height: 323px;
    }

    .title {
        font-size: 30px;
    }
}

@media screen and (max-width: 710px) {
    .background,
    .item {
        width: 300px;
        height: 300px;
    }

    .title {
        font-size: 25px;
    }
}

@media screen and (max-width: 650px) {
    .background,
    .item {
        width: 373px;
        height: 373px;
    }

    .title {
        font-size: 36.65px;
    }

    .item {
        margin-right: 0;
    }

    .item:nth-child(5) {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 550px) {
    .background,
    .item {
        width: 350px;
        height: 350px;
    }

    .title {
        font-size: 30px;
    }
}

@media screen and (max-width: 450px) {
}

@media screen and (max-width: 400px) {
    .background,
    .item {
        width: 100%;
        height: auto;
    }

    .title {
        font-size: 25px;
    }
}
