@import '../../../assets/styles/variables.scss';

.app {
    width: 100%;
    position: relative;
    padding: 140px 0;
    background: $color_light_blue;
    overflow: hidden;
}

.special {
    display: inline-block;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    color: $color_orange;
    padding: 3px 6px;
    border-radius: 4px;
    border: 1px solid $color_orange;
    margin-bottom: 20px;
}

.cont {
    text-align: center;
    width: 486px;
    margin: 0 auto;
}

.inner {
    margin: 140px auto 0;
    text-align: center;
}

.subtitle {
    margin-top: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    color: $color_grey;
    margin-bottom: 10px;
}

.icon_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    & a {
        margin-right: 20px;
    }

    & a:last-child {
        margin-right: 0;
    }

    & svg {
        width: 25px;
        height: 25px;
        transition: 0.3s;

        &:hover {
            color: $color_orange;
        }
    }
}
