.features {
    padding: 140px 0 160px;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.scribble {
    top: -170px;

    right: 120px;
    position: absolute;
}

.inner {
    padding: 20px 0 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item {
    width: 32%;
    text-align: center;
    margin-top: 80px;

    & h3 {
        font-size: 22.65px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 31.71px */
        letter-spacing: -0.453px;
        margin: 30px 0 10px;
    }

    & h5 {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%; /* 25.6px */
    }
}

@media screen and (max-width: 1090px) {
    .scribble {
        right: 100px;
    }
}

@media screen and (max-width: 992px) {
    .scribble {
        display: none;
    }
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 800px) {
    .item {
        width: 49%;
    }
}

@media screen and (max-width: 550px) {
    .item {
        & h3 {
            font-size: 18px;
        }

        & h5 {
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 450px) {
    .item {
        width: 70%;
    }

    .inner {
        justify-content: center;
    }
}
