@import '../../../assets/styles/variables';

.link {
    @extend %size_body;

    font-weight: 700;
    text-decoration: none;
    color: $color_black;
    margin-right: 60px;
    position: relative;
    transition: 0.3s;

    &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;

        width: 0px;
        height: 3px;
        background: $color_orange;
        border-radius: 5px;
        transition: 0.3s;
    }

    &:hover::after {
        width: 100%;
    }

    &:hover {
        color: $color_orange;
    }
}

.active {
    color: $color_orange;
}
